.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loader__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  opacity: 0;


  .separator {
    width: 1px;
    height: 4rem;
    background-color: var(--light);

  }
}

.loader__title {
  font-family: "Humane", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--light);
}